@import url(reset.css);

:root {
	--font-poppins: "Poppins", sans-serif;
	--background-page: #fafafa;
	--background-card: #ffffff;
	--font-color: #4d4f62;
	--card-red: #ea5454;
	--card-green: #44d3d2;
	--card-yellow: #fcae4a;
	--card-blue: #549ef2;
}

body {
	background-color: var(--background-page);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-family: var(--font-poppins);
}
.info {
	width: 83vw;
	margin-bottom: 4.75rem;
	margin-top: 5rem;
}

.info__generic {
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 0.0106rem;
	color: var(--font-color);
}

.info__title {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--font-color);
	letter-spacing: 0.0106rem;
}

.info__text {
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.66;
	letter-spacing: 0.0063rem;
	padding-top: 1rem;
}

.cards-wrap {
	width: 83vw;
	display: grid;
	row-gap: 1.5rem;
	margin-bottom: 4.875rem;
}

.card {
	background-color: var(--background-card);
	box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1.75rem;
	text-align: left;
}

.card--supervisor {
	border-top: 4px solid var(--card-green);
}

.card--team {
	border-top: 4px solid var(--card-red);
}

.card--karma {
	border-top: 4px solid var(--card-yellow);
}

.card--calculator {
	border-top: 4px solid var(--card-blue);
}

.card__title {
	font-size: 1.25rem;
	font-weight: 600;
	color: var(--font-color);
}

.card__text {
	padding-bottom: 2rem;
	font-size: 0.8125rem;
	color: var(--font-color);
	line-height: 1.6;
}

.card__image {
	align-self: flex-end;
	width: 57px;
}

/* Desktop Layout */

@media (min-width: 48.0625rem) {
	.info {
		width: 38vw;
		margin-bottom: 4rem;
	}

	.info__generic {
		font-size: 2.25rem;
		letter-spacing: 0.0156rem;
	}

	.info__title {
		font-size: 2.25rem;
		letter-spacing: 0.0156rem;
	}

	.cards-wrap {
		width: calc(77% - 3.75rem);
		height: calc(57% - 5.625rem);
		grid-template-columns: repeat(3, 33.33%);
		grid-template-rows: repeat(4, auto);
		gap: 1.875rem;
		justify-content: center;
	}

	.card {
		align-items: flex-start;
		padding: 2rem;
	}

	.card--supervisor {
		grid-area: 2 / 1 / 4 / 2;
	}

	.card--team {
		grid-area: 1 / 2 / 3 / 3;
	}

	.card--karma {
		grid-area: 3 / 2 / 5 / 3;
	}

	.card--calculator {
		grid-area: 2 / 3 / 4 / 4;
	}

	.card__image {
		width: 64px;
		justify-self: flex-end;
	}

	.card__text {
		padding: 0.375rem 0 2.5rem 0;
	}
}
